<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 r-list-area">
      <div class="r-car-search r-carlist-search">
        <div class="container">
          <%= form_with url: find_instructors_path, method: :post do |form| %>

            <div class="row">
              <div class="r-search-full col-md-12">
                <div class="form-group">
                  <%= form.search_field :query, oninput: 'this.form.requestSubmit()', class: "form-control", placeholder: "Search car by name or location" %>
                  <%= form.button class: "fa fa-search"%>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <%= form.label 'Car Brand' %>
                  <%= form.select :car_brand, ["Toyota", "BMW", " Mazda", ], {},{class: "form-control"} %>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <%= form.label 'Car Type' %>
                  <%= form.select :car_type, ["Toyota", "BMW", " Mazda", ], {},{class: "form-control"}%>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <div class="form-group">
                  <%= form.label 'Car Price' %>
                  <%= form.select :car_price, ["Price Low to High", "Price High to Low"], {},{class: "form-control"} %>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group mb-0">
                  <%= form.submit class: "form-control btn-primary", value:"Search Car Now"  %>
                </div>
              </div>
            </div>
        <% end %>

        </div>
      </div>
      <div class="clearfix r-sort-val">
        <div class="pull-left">
          <span>Sort by : </span>
          <select class="r-show-cars-filter">
            <option value="6"> Name </option>
            <option value="10"> Price </option>
            <option value="20"> Age </option>
          </select>
        </div>
        <div class="pull-right"><span class="r-total-result">6 Search results</span></div>
      </div>
      <div class="r-best-offer-list r-car-list-map mCustomScrollbar">

        <div class="row clearfix" id="instr_search_results">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="r-best-offer-single">
              <div class="r-best-offer-in">
                <div class="r-offer-img">
                  <a class="d-inline-block" href="#"><img src="assets/images/car-1.png" class="img-fluid d-block m-auto" alt=""></a>
                </div>
                <div class="r-best-offer-content">
                  <a href="#"><b>Volk</b> GTR</a>
                  <p>Start at <b>45.00 USD</b> per day</p>
                  <ul class="pl-0 mb-0">
                    <li><i class="fa fa-cogs"></i><span>MANUAL</span></li>
                    <li><i class="fa fa-beer"></i><span>PETROL</span></li>
                    <li><i class="fa fa-road"></i><span>2.3k CC</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-12 p-0 r-map-area">
      <div class="r-hide-car-list r-flip-map">
        <span>HIDE CAR LIST</span>
        <i class="fa fa-angle-up"></i>
      </div>
      <div class="google-map r-google-map-list">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>