<!DOCTYPE html>
<html>
<head>
  <!-- PAGE TITLE -->
  <title>TestRydes</title>

  <!-- META-DATA -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- FAVICON -->
  <%= favicon_link_tag '/assets/images/favicon.png' %>

  <!-- CSS:: FONTS -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' %>

  <!-- CSS:: ANIMATE -->
  <%= stylesheet_link_tag "/assets/css/plugins/animate/animate.css" %>

  <!-- CSS:: MAIN -->
  <%= stylesheet_link_tag '/assets/css/main.css' %>
  <%= stylesheet_link_tag '/assets/color-files/color-08.css', id: "r-color-roller" %>

  <!-- CSS:: APP CUSTOM -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

</head>
<body>
<div class="r-wrapper">
  <% if notice || alert %>
    <div id="msg-notifier" style=" display: inline-block; width: 100%; height: 50px;">
      <%= tag.p notice, class: "notice alert-info alert-dismissible fade show", role: "alert", style: "margin-bottom: 0px; height: 100%" if notice.present? %>
      <%= tag.p alert, class: "alert alert-warning alert-dismissible fade show", role: "alert", style: "margin-bottom: 0px; height: 100%" if alert.present? %>
    </div>
  <%end %>

  <% if current_page?(root_path) %>
    <%= render "layouts/header" %>
  <% else %>
    <%= render "layouts/simple-header" %>
  <% end %>
  <%= yield %>
  <%= render "layouts/footer" %>
</div>
<div id="r-to-top" class="r-to-top">
  <i class="fa fa-angle-up"></i>
</div>
<br>
<pre><%= debug(params) if Rails.env.development? %></pre>
<pre><%= request.fullpath %></pre>
<pre><%= request.fullpath.split('/')[1].to_i %></pre>
<pre><%= current_user.avatar_url %></pre>


<br>


<!-- JQUERY:: JQUERY.JS -->
<%= javascript_include_tag "/assets/js/jquery.min.js" %>

<!-- JQUERY:: APPEAR.JS -->
<%= javascript_include_tag "/assets/js/plugins/appear/appear.js" %>

<!-- JQUERY:: COUNTER.JS -->
<%= javascript_include_tag "/assets/js/plugins/counter/jquery.easing.min.js" %>
<%= javascript_include_tag "/assets/js/plugins/counter/counter.min.js" %>

<!-- JQUERY:: BOOTSTRAP.JS -->
<%= javascript_include_tag "/assets/js/tether.min.js" %>
<%= javascript_include_tag "/assets/js/bootstrap.min.js" %>

<!-- JQUERY:: PLUGINS -->
<%= javascript_include_tag "/assets/js/plugins/owl/owl.carousel.min.js" %>
<%= javascript_include_tag "/assets/js/plugins/lightcase/lightcase.js" %>

<!-- JQUERY:: MAP -->
<%= javascript_include_tag "/assets/js/map.js" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw" %>

<!-- JQUERY:: CUSTOM.JS -->
<%= javascript_include_tag "/assets/js/custom.js" %>

<%= javascript_importmap_tags %>
</body>
</html>
